# --- Environment Configurations ---
.env

# --- Databases ---
*.db
leveling.db-wal
leveling.db-shm

# --- Python Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- IDEs / Editors ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- OS Specific ---
.DS_Store
Thumbs.db
